<div class="container" padded>
  <app-card>
    <app-card-header>
      <app-card-title>Checkboxes</app-card-title>
    </app-card-header>
    <app-card-body paddedX paddedBottom>


      <app-checkbox>Default</app-checkbox>

      <hr />

      <app-checkbox-group paddedY>
        <app-checkbox>Default</app-checkbox>
        <app-checkbox checked="true">Checked</app-checkbox>
        <app-checkbox disabled="true">Disabled</app-checkbox>
        <app-checkbox indeterminate="true">Indeterminate</app-checkbox>
      </app-checkbox-group>

      <hr />

      <app-checkbox-group stacked="false" paddedY>
        <app-checkbox>Default</app-checkbox>
        <app-checkbox checked="true">Checked</app-checkbox>
        <app-checkbox disabled="true">Disabled</app-checkbox>
        <app-checkbox indeterminate="true">Indeterminate</app-checkbox>
      </app-checkbox-group>

    </app-card-body>
  </app-card>

</div>
