<div class="container" padded>
  <app-card>
    <app-card-header>
      <app-card-title>Datatables</app-card-title>
    </app-card-header>
    <app-card-body>
      <div class="table-responsive">
        <table class="table table-selectable">
          <thead>
            <tr>
              <th class="cell-condensed">
                <input type="checkbox" />
              </th>
              <th class="sortable sort-asc">Name</th>
              <th class="sortable sort-desc">State</th>
              <th class="sortable text-right">Age</th>
              <th class="text-right">Birthday</th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th></th>
              <th>
                <input type="search" /> </th>
              <th>
                <select>
                  <option></option>
                  <option value="TX">Texas</option>
                </select>
              </th>
              <th class="text-right">
                <input type="number" /> </th>
              <th class="text-right">
                <input type="search" /> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="cell-condensed">
                <input type="checkbox" />
              </td>
              <td>Travis Wilson</td>
              <td>Texas</td>
              <td class="text-right">31</td>
              <td class="text-right">2/13/1986</td>
            </tr>
            <tr class="active">
              <td class="cell-condensed">
                <input type="checkbox" checked="checked" />
              </td>
              <td>Rhonda Wilson</td>
              <td>Texas</td>
              <td class="text-right">30</td>
              <td class="text-right">8/16/1987</td>
            </tr>
            <tr>
              <td class="cell-condensed">
                <input type="checkbox" />
              </td>
              <td>John Hammond</td>
              <td>Alabama</td>
              <td class="text-right">57</td>
              <td class="text-right">12/30/1960</td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card-body>
  </app-card>
</div>
