<div class="container" padded>
  <app-card>
    <app-card-header>
      <app-card-title>Steppers</app-card-title>
    </app-card-header>
    <app-card-body paddedX paddedBottom>
      <div class="stepper">
        <div class="step step-visited">
          <div class="step-number">1</div>
          <div class="step-title">Step one</div>
          <div class="step-summary">Summarize if needed</div>
        </div>
        <div class="step step-error">
          <div class="step-number">2</div>
          <div class="step-title">Step two</div>
          <div class="step-summary">Error summary if needed</div>
        </div>
        <div class="step step-active">
          <div class="step-number">3</div>
          <div class="step-title">Step three</div>
          <div class="step-summary">Summarize if needed</div>
        </div>
        <div class="step">
          <div class="step-number">4</div>
          <div class="step-title">Review</div>
          <div class="step-summary">Summarize if needed</div>
        </div>
      </div>
    </app-card-body>
  </app-card>
</div>
