<div class="container p-1">

  <section class="card">
    <header class="card-header">
      <h1 class="card-title">Toasts</h1>
    </header>

    <div class="card-body">

      <div class="m-1">

        <div class="toast">
          <div class="toast-text">An item with this name already exists. Please choose another name and try again.</div>
          <div class="toast-nav">
            <button type="button" class="btn btn-link">Retry</button>
          </div>
        </div>

      </div>

    </div>
  </section>


  <div class="toast-container">
    <div class="toast" id="demo-toast-animation">
      <div class="toast-text">An item with this name already exists. Please choose another name and try again.</div>
      <div class="toast-nav">
        <button type="button" class="btn btn-link">Retry</button>
      </div>
    </div>
  </div>
</div>


<!-- <script>
  var toast = document.getElementById('demo-toast-animation');

  setTimeout(function () {
    toast.className = 'toast in';
  }, 1000);

  setInterval(function () {
    toast.className = 'toast';

    setTimeout(function () {
      toast.className = 'toast in';
    }, 2000);
  }, 4000);

</script> -->
