@import '../references';


.bg-white { background-color: $white !important; }
.bg-dark { background-color: color(primary, 900) !important; }
.bg-transparent { background-color: transparent !important; }
