<div class="container" padded>
    <app-card>
        <app-card-header>
            <app-card-title>Line charts</app-card-title>
        </app-card-header>
        <app-card-body paddedX paddedBottom>

            <div class="row">
                <div class="col-md-6">
                    <div style="display: block;">
						<canvas appChart width="400" height="300"
							chartType="line"
							legend="false"
							[datasets]="lineChartData"
							[labels]="lineChartLabels"
							[options]="lineChartOptions"
							[colors]="lineChartColors"
							(chartHover)="chartHovered($event)"
							(chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
                <div class="col-md-6" style="margin-bottom: 10px">
                    <table class="table table-responsive table-condensed">
                        <tr>
                            <th *ngFor="let label of lineChartLabels">{{label}}</th>
                        </tr>
                        <tr *ngFor="let d of lineChartData">
                            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                        </tr>
                    </table>
                    <button appButton (click)="randomize()">Randomize data</button>
                </div>
            </div>

        </app-card-body>
    </app-card>
</div>
