<div class="container p-1">

  <section class="card">
    <header class="card-header">
      <h1 class="card-title">Buttons</h1>
    </header>

    <div class="card-body px-1 pb-1">

      <h3 class="subheading">Filled buttons</h3>

      <p>
        <button app-button>Button</button>
        <button app-button app-icon-button>
          <i app-icon="home"></i>
        </button>
        <button app-button app-combo-button>
          <i app-icon="home"></i> Button
        </button>
        <button app-button disabled="true">Disabled</button>
      </p>

      <p>
        <a href="javascript:;" app-button color="text">Text</a>
        <a href="javascript:;" app-button color="primary">Primary</a>
        <a href="javascript:;" app-button color="success">Success</a>
        <a href="javascript:;" app-button color="warning">Warning</a>
        <a href="javascript:;" app-button color="danger">Danger</a>
      </p>


      <h3 class="subheading">Outline buttons</h3>

      <p>
        <button app-outline-button>Button</button>
        <button app-outline-button app-icon-button>
          <i app-icon="home"></i>
        </button>
        <button app-outline-button app-combo-button>
          <i app-icon="home"></i> Button
        </button>
        <button app-outline-button disabled="true">Disabled</button>
      </p>

      <p>
        <a href="javascript:;" app-outline-button color="text">Text</a>
        <a href="javascript:;" app-outline-button color="primary">Primary</a>
        <a href="javascript:;" app-outline-button color="success">Success</a>
        <a href="javascript:;" app-outline-button color="warning">Warning</a>
        <a href="javascript:;" app-outline-button color="danger">Danger</a>
      </p>


      <h3 class="subheading">Link buttons</h3>

      <p>
        <button app-link-button>Button</button>
        <button app-link-button app-icon-button>
          <i app-icon="home"></i>
        </button>
        <button app-link-button app-combo-button>
            <i app-icon="home"></i> Button
          </button>
        <button app-link-button disabled="true">Disabled</button>
      </p>

      <p>
        <a href="javascript:;" app-link-button color="text">Text</a>
        <a href="javascript:;" app-link-button color="primary">Primary</a>
        <a href="javascript:;" app-link-button color="success">Success</a>
        <a href="javascript:;" app-link-button color="warning">Warning</a>
        <a href="javascript:;" app-link-button color="danger">Danger</a>
      </p>


      <h3 class="subheading">Button directives</h3>

      <p>
        <button app-button app-block-button>Block Button</button>
      </p>


    </div>
  </section>

</div>
