<div class="container p-1">
  
      <section class="card">
          <header class="card-header">
              <h1 class="card-title">Buttons</h1>
          </header>
  
          <div class="card-body px-1 pb-1">
  
              <h3 class="subheading">Normal buttons</h3>
  
              <button class="btn btn-primary" type="button">Button</button>
  
              <button class="btn btn-primary btn-icon" type="button">
                  <i class="icon material-icons">file_download</i>
              </button>
  
              <button class="btn btn-primary btn-combo" type="button">
                  <i class="icon material-icons">file_download</i>
                  <span class="text">Button</span>
              </button>
  
              <br />
  
              <button class="btn btn-primary" type="button" disabled="disabled">Button</button>
  
              <button class="btn btn-primary btn-icon" type="button" disabled="disabled">
                  <i class="icon material-icons">file_download</i>
              </button>
  
              <button class="btn btn-primary btn-combo" type="button" disabled="disabled">
                  <i class="icon material-icons">file_download</i>
                  <span class="text">Button</span>
              </button>
  
  
              <h3 class="subheading">Outline buttons buttons</h3>
  
  
  
              <button class="btn btn-outline" type="button">Button</button>
  
              <button class="btn btn-outline btn-icon" type="button">
                  <i class="icon material-icons">file_download</i>
              </button>
  
              <button class="btn btn-outline btn-combo" type="button">
                  <i class="icon material-icons">file_download</i>
                  <span class="text">Button</span>
              </button>
  
              <br />
  
              <button class="btn btn-outline" type="button" disabled="disabled">Button</button>
  
              <button class="btn btn-outline btn-icon" type="button" disabled="disabled">
                  <i class="icon material-icons">file_download</i>
              </button>
  
              <button class="btn btn-outline btn-combo" type="button" disabled="disabled">
                  <i class="icon material-icons">file_download</i>
                  <span class="text">Button</span>
              </button>
  
  
              <h3 class="subheading">Link buttons</h3>
  
  
              <button class="btn btn-link btn-danger" type="button">Button</button>
  
              <button class="btn btn-link btn-icon btn-danger" type="button">
                  <i class="icon material-icons">file_download</i>
              </button>
  
              <button class="btn btn-link btn-combo btn-danger" type="button">
                  <i class="icon material-icons">file_download</i>
                  <span class="text">Button</span>
              </button>
  
              <br />
  
              <button class="btn btn-link-primary" type="button">Button</button>
  
              <button class="btn btn-link-primary btn-icon" type="button">
                  <i class="icon material-icons">file_download</i>
              </button>
  
              <button class="btn btn-link-primary btn-combo" type="button">
                  <i class="icon material-icons">file_download</i>
                  <span class="text">Button</span>
              </button>
  
              <br />
  
              <button class="btn btn-link-danger btn-danger" type="button">Button</button>
  
              <button class="btn btn-link-danger btn-icon btn-danger" type="button">
                  <i class="icon material-icons">file_download</i>
              </button>
  
              <button class="btn btn-link-danger btn-combo btn-danger" type="button">
                  <i class="icon material-icons">file_download</i>
                  <span class="text">Button</span>
              </button>
  
              <br />
  
              <button class="btn btn-link-primary" type="button" disabled="disabled">Button</button>
  
              <button class="btn btn-link-primary btn-icon" type="button" disabled="disabled">
                  <i class="icon material-icons">file_download</i>
              </button>
  
              <button class="btn btn-link-primary btn-combo" type="button" disabled="disabled">
                  <i class="icon material-icons">file_download</i>
                  <span class="text">Button</span>
              </button>
  
          </div>
      </section>
  
  </div>