@import 'references';


.alert { display: flex; flex-direction: column; min-width: 288px; max-width: 568px; background-color: $white; border-radius: $border-radius; margin-bottom: gx(1); @include z-depth-1; }

.alert-header { flex: 0 0 auto; padding: 20px gx(1); 
    + .alert-body { padding-top: 0; }
}

.alert-title { font-size: $font-size-lg; font-weight: $font-weight-medium; margin: 0; }

.alert-body { flex: 1 1 auto; padding: gx(1); color: color(black, secondary); 
    :last-child { margin-bottom: 0; }
}

.alert-footer { padding: gx(0.5); @include clearfix;
    .btn { padding-right: gx(0.5); padding-left: gx(0.5); }
    .btn-link {  }
    .btn-block { text-align: right; 
        + .btn-block { margin-top: 0; }
    }
}

.alert-primary {
    .alert-footer {
        .btn-primary { background-color: transparent; color: color(primary); }
    }
}

.alert-danger { border-left: 4px solid color(intent, danger);
    .alert-footer {
        .btn-primary { background-color: transparent; color: color(intent, danger); }
    }
}