@import 'references';


@keyframes progress-bar-stripes {
  from { background-position: $progress-height 0; }
  to { background-position: 0 0; }
}

.progress-group { 
    padding: gx(0.5) 0;

    label { margin: gx(0.5) 0; }
}

.progress-text { margin: gx(0.5) 0 0 0; display: flex;
    .progress-col { flex: 1 1 auto; font-size: $font-size-sm; color: color(black, secondary);
        + .progress-col { text-align: right; }
    }
}

.progress {
  display: flex;
  overflow: hidden;
  font-size: $progress-font-size;
  line-height: $progress-height;
  text-align: center;
  background-color: $progress-bg;
  @include border-radius($progress-border-radius);
}

.progress-bar {
  height: $progress-height;
  line-height: $progress-height;
  color: $progress-bar-color;
  background-color: $progress-bar-bg;
  @include transition($progress-bar-transition);
}