<div class="container" padded>
  <app-card>
    <app-card-header>
      <app-card-title>Preloaders</app-card-title>
    </app-card-header>
    <app-card-body paddedX paddedBottom>
      <div class="preloader show">
        <div class="preloader-bar"></div>
      </div>
      <br />
      <br />
      <div style="width: 60vw; height: 50px; position: relative; border: 1px solid #eee; padding: 16px;">
        <div class="preloader preloader-static-top show">
          <div class="preloader-bar"></div>
        </div>
        <p>Fixed to top of relative parent</p>
      </div>
    </app-card-body>
  </app-card>
</div>
