<div class="container" padded>
  <app-card>
    <app-card-header>
      <app-card-title>Radio buttons</app-card-title>
    </app-card-header>
    <app-card-body paddedX paddedBottom>

      <div paddedY>
        <app-radio-group stacked="true">
          <app-radio-button value="1" checked="true">Radio button</app-radio-button>
          <app-radio-button value="2">Another radio button</app-radio-button>
          <app-radio-button value="3" disabled="true">Disabled radio button</app-radio-button>
        </app-radio-group>
      </div>

      <hr />

      <div paddedY>
        <app-radio-group>
          <app-radio-button value="1" checked="true">Radio button</app-radio-button>
          <app-radio-button value="2">Another radio button</app-radio-button>
          <app-radio-button value="3" disabled="true">Disabled radio button</app-radio-button>
        </app-radio-group>
      </div>

    </app-card-body>
  </app-card>

</div>
