<div class="container" padded>
  <app-card>
    <app-card-header>
      <app-card-title>Vertical Forms</app-card-title>
    </app-card-header>
    <app-card-body paddedX paddedBottom>


      <div paddedY>
        <app-form-field>
          <input appInput placeholder="Name" />
        </app-form-field>

        <app-form-field>
          <input appInput type="email" placeholder="Email" [formControl]="$email" />
          <app-hint>
            We won't spam you ;)
          </app-hint>
          <app-error *ngIf="$email.hasError('email') && !$email.hasError('required')">
            Please enter a valid email address
          </app-error>
          <app-error *ngIf="$email.hasError('required')">
            Email is required
          </app-error>
        </app-form-field>


        <app-form-field>
          <app-select placeholder="Favorite food">
            <app-option value="Sushi">Sushi</app-option>
            <app-option value="Pizza">Pizza</app-option>
            <app-option value="Hot Dogs">Hot dogs</app-option>
          </app-select>
        </app-form-field>

        <app-form-field>
          <app-select placeholder="Pokemon" [formControl]="pokemonControl">
            <app-option>-- None --</app-option>
            <app-optgroup *ngFor="let group of pokemonGroups" [label]="group.name" [disabled]="group.disabled">
              <app-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
                {{ pokemon.viewValue }}
              </app-option>
            </app-optgroup>
          </app-select>
        </app-form-field>

        <app-form-field>
          <app-select placeholder="Pokemon" [formControl]="pokemonMultiControl" multiple>
            <app-optgroup *ngFor="let group of pokemonGroups" [label]="group.name" [disabled]="group.disabled">
              <app-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
                {{ pokemon.viewValue }}
              </app-option>
            </app-optgroup>
          </app-select>
        </app-form-field>

        <br />

        <app-form-field>
          <input appInput placeholder="Name" />
        </app-form-field>

        <app-form-field>
          <input appInput type="email" placeholder="Email" />
        </app-form-field>

        <app-form-field>
          <textarea appInput appTextareaAutosize placeholder="Message"></textarea>
        </app-form-field>

        <app-form-field>
          <app-select placeholder="Pokemon" [formControl]="pokemonMultiControl2" multiple>
            <app-select-trigger>
              {{pokemonMultiControl2.value ? pokemonMultiControl2.value[0] : ''}}
              <span *ngIf="pokemonMultiControl2.value?.length > 1">
                (+{{pokemonMultiControl2.value.length - 1}} others)
              </span>
            </app-select-trigger>

            <app-optgroup *ngFor="let group of pokemonGroups" [label]="group.name" [disabled]="group.disabled">
              <app-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
                {{ pokemon.viewValue }}
              </app-option>
            </app-optgroup>
          </app-select>
        </app-form-field>


      </div>


      <form class="form-validated">
        <fieldset>
          <legend>Form groups</legend>


          <div class="form-group">
            <label>Email Address</label>
            <input type="email" value="" class="form-control" />
            <div class="form-text">We'll never share your email address with anyone.</div>
          </div>


          <div class="form-group">
            <label>Message</label>
            <textarea class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>State</label>
            <select class="form-control">
              <option>- Choose -</option>
              <option value="TX">Texas</option>
            </select>
          </div>
          <div class="form-group">
            <label>Customer ID</label>
            <div class="form-control-plaintext"> 364901 </div>
          </div>
          <div class="form-group">
            <label>Checkboxes</label>

            <app-checkbox-group>
              <app-checkbox>Checkbox</app-checkbox>
              <app-checkbox disabled="true">Disabled checkbox</app-checkbox>
            </app-checkbox-group>
          </div>
          <div class="form-group">
            <label>Inline checkboxes</label>

            <app-checkbox-group stacked="false">
              <app-checkbox>A</app-checkbox>
              <app-checkbox checked="true">B</app-checkbox>
              <app-checkbox disabled="true">C</app-checkbox>
            </app-checkbox-group>
          </div>
          <div class="form-group">
            <label>Radio buttons</label>

            <app-radio-group stacked="true">
              <app-radio-button value="1">Radio button</app-radio-button>
              <app-radio-button value="2">Another radio button</app-radio-button>
              <app-radio-button value="3" disabled="true">Disabled radio button</app-radio-button>
            </app-radio-group>
          </div>
          <div class="form-group">
            <label>Inline radio buttons</label>

            <app-radio-group>
              <app-radio-button value="1">Radio button</app-radio-button>
              <app-radio-button value="2">Another radio button</app-radio-button>
              <app-radio-button value="3" disabled="true">Disabled radio button</app-radio-button>
            </app-radio-group>
          </div>
        </fieldset>
        <hr class="inset-x-1" />
        <fieldset>
          <legend>Validation</legend>
          <div class="form-group is-invalid">
            <label>Name</label>
            <input type="text" value="" class="form-control" required />
            <div class="invalid-feedback">Please enter your first name</div>
          </div>
          <div class="form-group is-invalid">
            <label>Contact preference</label>

            <app-radio-group required="true" stacked="true">
              <app-radio-button value="1">Email</app-radio-button>
              <app-radio-button value="2">Text/SMS</app-radio-button>
            </app-radio-group>
          </div>
        </fieldset>
      </form>
    </app-card-body>
  </app-card>
  <app-card>
    <app-card-header>
      <app-card-title>Horizontal Forms</app-card-title>
    </app-card-header>
    <app-card-body paddedX paddedBottom>
      <form class="form-horizontal">
        <div class="form-group row">
          <label for="inputEmail3a" class="col-sm-2">Name</label>
          <div class="col form-row">
            <div class="col">
              <input type="text" class="form-control" id="inputEmail3a" placeholder="First name"> </div>
            <div class="col">
              <input type="text" class="form-control" id="inputEmail3b" placeholder="Last name"> </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2">Password</label>
          <div class="col">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password"> </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2">Radios</label>
          <div class="col">

            <app-radio-group required="true" stacked="true" value="1">
              <app-radio-button value="1">Option one is this and that&mdash;be sure to include why it's great </app-radio-button>
              <app-radio-button value="2">Option two can be something else and selecting it will deselect option one</app-radio-button>
              <app-radio-button value="3" disabled="true">Option three is disabled</app-radio-button>
            </app-radio-group>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2">Checkbox</label>
          <div class="col">
            <app-checkbox>Check me out</app-checkbox>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <div class="col">
            <button appButton>Sign in</button>
          </div>
        </div>
      </form>
    </app-card-body>
  </app-card>
</div>
