<div class="container p-1">
  
      <section class="card">
          <header class="card-header">
              <h1 class="card-title">Error pages</h1>
          </header>
  
          <div class="card-body px-1 pb-1">
  
            <a routerLink="/error/404" class="btn btn-primary">404</a>
            <a routerLink="/error/401" class="btn btn-primary">401</a>
            <a routerLink="/error/403" class="btn btn-primary">403</a>
            <a routerLink="/error/500" class="btn btn-primary">500</a>

          </div>
      </section>
    
  </div>
 