<div class="container" padded>
  <app-card>
    <app-card-header>
      <app-card-title>Progress</app-card-title>
    </app-card-header>
    <app-card-body paddedX paddedBottom>
      <div class="progress-group">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="progress-group">
        <label>Progress title</label>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="progress-group">
        <label>Progress title</label>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress-text">
          <div class="progress-col">1000/3000 KB</div>
        </div>
      </div>
      <div class="progress-group">
        <label>Progress title</label>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress-text">
          <div class="progress-col">3000/3000 KB</div>
          <div class="progress-col">100% complete</div>
        </div>
      </div>
    </app-card-body>
  </app-card>
</div>
