<div class="container" padded>
  <app-card>
    <app-card-header>
      <app-card-title>Breadcrumbs</app-card-title>
    </app-card-header>
    <app-card-body paddedX>
      <div class="breadcrumb">
        <ul>
          <li>
            <a href="javascript:;">First</a>
          </li>
          <li>
            <a href="javascript:;">Second</a>
          </li>
          <li>
            <a href="javascript:;">Current</a>
          </li>
        </ul>
      </div>
    </app-card-body>
  </app-card>
</div>
