<div class="container" padded>
  <app-card>
    <app-card-header>
      <app-card-title>Lists</app-card-title>
    </app-card-header>
    <app-card-body>
      <div class="list">
        <h2 class="list-item-header">Subheader</h2>
        <ul>
          <li class="list-item">
            <div class="list-item-body">
              <h1>Primary text</h1>
            </div>
          </li>
          <li class="list-item">
            <div class="list-item-body">
              <h1>Primary text</h1>
              <p>Secondary text</p>
            </div>
          </li>
          <li class="list-item">
            <div class="list-item-body">
              <h1>Primary text</h1>
              <p>Secondary text</p>
              <p>Secondary text</p>
            </div>
          </li>
          <li class="list-item-divider"></li>
          <li class="list-item">
            <div class="list-item-object">
              <i class="material-icons">home</i>
            </div>
            <div class="list-item-body"> Dashboard </div>
            <div class="list-item-object">
              <i class="material-icons">info_outline</i>
            </div>
          </li>
          <li class="list-item">
            <div class="list-item-object">
              <i class="material-icons">person</i>
            </div>
            <div class="list-item-body">
              <h1>Primary text</h1>
            </div>
            <div class="list-item-object">
              <i class="material-icons">info_outline</i>
            </div>
          </li>
          <li class="divider divider-offset"></li>
          <li class="list-item">
            <div class="list-item-object">
              <i class="material-icons">home</i>
            </div>
            <div class="list-item-body"> Dashboard </div>
            <div class="list-item-object">
              <i class="material-icons">info_outline</i>
            </div>
          </li>
        </ul>
      </div>
    </app-card-body>
  </app-card>
</div>
