<div class="container px-1 pb-1">
  
      <h1 class="page-title">Tabs</h1>
  
      <ul class="tabs tabs-demo" role="tablist">
          <li class="tab">
              <a class="tab-link active" id="tab-a-1" data-toggle="tab" href="#a-1" role="tab" aria-controls="a-1" aria-expanded="true">
                  Item one
              </a>
          </li>
          <li class="tab">
              <a class="tab-link" id="tab-b-1" data-toggle="tab" href="#b-1" role="tab" aria-controls="b-1">
                  Item two
              </a>
          </li>
          <li class="tab dropdown">
              <a class="tab-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  More
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-width-2">
                  <div class="dropdown-menu-content">
                      <div class="list">
                          <a class="list-item" id="tab-c-1" href="#c-1" role="tab" data-toggle="tab" aria-controls="c-1">
                              <div class="list-item-body">
                                  <h1>Item three</h1>
                              </div>
                          </a>
                          <a class="list-item" id="tab-d-1" href="#d-1" role="tab" data-toggle="tab" aria-controls="d-1">
                              <div class="list-item-body">
                                  <h1>Item four</h1>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </li>
      </ul>
      <div class="tab-content card">
          <div class="tab-pane show active" id="a-1" role="tabpanel" aria-labelledby="tab-a-1">A</div>
          <div class="tab-pane" id="b-1" role="tabpanel" aria-labelledby="tab-b-1">B</div>
          <div class="tab-pane" id="c-1" role="tabpanel" aria-labelledby="tab-c-1">C</div>
          <div class="tab-pane" id="d-1" role="tabpanel" aria-labelledby="tab-d-1">D</div>
      </div>
  
  
  
      <div class="card">
          <ul class="tabs tabs-demo" role="tablist">
              <li class="tab">
                  <a class="tab-link active" id="tab-a-2" data-toggle="tab" href="#a-2" role="tab" aria-controls="a-2" aria-expanded="true">
                      Item one
                  </a>
              </li>
              <li class="tab">
                  <a class="tab-link" id="tab-b-2" data-toggle="tab" href="#b-2" role="tab" aria-controls="b-2">
                      Item two
                  </a>
              </li>
              <li class="tab dropdown">
                  <a class="tab-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                      More
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-width-2">
                      <div class="dropdown-menu-content">
                          <div class="list">
                              <a class="list-item" id="tab-c-2" href="#c-2" role="tab" data-toggle="tab" aria-controls="c-2">
                                  <div class="list-item-body">
                                      <h1>Item three</h1>
                                  </div>
                              </a>
                              <a class="list-item" id="tab-d-2" href="#d-2" role="tab" data-toggle="tab" aria-controls="d-2">
                                  <div class="list-item-body">
                                      <h1>Item four</h1>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
          <div class="card-body">
              <div class="tab-content">
                  <div class="tab-pane show active" id="a-2" role="tabpanel" aria-labelledby="tab-a-2">A</div>
                  <div class="tab-pane" id="b-2" role="tabpanel" aria-labelledby="tab-b-2">B</div>
                  <div class="tab-pane" id="c-2" role="tabpanel" aria-labelledby="tab-c-2">C</div>
                  <div class="tab-pane" id="d-2" role="tabpanel" aria-labelledby="tab-d-2">D</div>
              </div>
          </div>
      </div>
  
      <div class="card">
          <div class="card-header">
              <h2 class="card-title">Card title</h2>
          </div>
          <ul class="tabs tabs-demo" role="tablist">
              <li class="tab">
                  <a class="tab-link active" id="tab-a-3" data-toggle="tab" href="#a-3" role="tab" aria-controls="a-3" aria-expanded="true">
                      Item one
                  </a>
              </li>
              <li class="tab">
                  <a class="tab-link" id="tab-b-3" data-toggle="tab" href="#b-3" role="tab" aria-controls="b-3">
                      Item two
                  </a>
              </li>
              <li class="tab dropdown">
                  <a class="tab-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                      More
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-width-3">
                      <div class="dropdown-menu-content">
                          <div class="list">
                              <a class="list-item" id="tab-c-3" href="#c-3" role="tab" data-toggle="tab" aria-controls="c-3">
                                  <div class="list-item-body">
                                      <h1>Item three</h1>
                                  </div>
                              </a>
                              <a class="list-item" id="tab-d-3" href="#d-3" role="tab" data-toggle="tab" aria-controls="d-3">
                                  <div class="list-item-body">
                                      <h1>Item four</h1>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
          <div class="card-body">
              <div class="tab-content">
                  <div class="tab-pane show active" id="a-3" role="tabpanel" aria-labelledby="tab-a-3">A</div>
                  <div class="tab-pane" id="b-3" role="tabpanel" aria-labelledby="tab-b-3">B</div>
                  <div class="tab-pane" id="c-3" role="tabpanel" aria-labelledby="tab-c-3">C</div>
                  <div class="tab-pane" id="d-3" role="tabpanel" aria-labelledby="tab-d-3">D</div>
              </div>
          </div>
      </div>
  </div>
  
  
  
<!-- <script>
  // Tabs
  require(['jquery', 'tabs'], function ($) {
    $('.tabs-demo .active').tab('show');
  });

</script>
 -->
