<div class="container px-1 pb-1">
  
      <h1 class="page-title">Typography</h1>
  
      <section class="card">
          <div class="card-body p-1">
  
  
              <h1>h1. Large title</h1>
              <h2>h2. Standard title</h2>
              <h3>h3. Contextual title</h3>
              <h4>h4. Contextual title</h4>
              <h5>h5. Subheading</h5>
              <h6>h6. Small subheading</h6>
  
              <hr class="my-1" />
  
              <p>A paragraph looks like this: tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
  
              <hr class="my-1" />
  
              <p>You can use the mark tag to <mark>highlight</mark> text.</p>
              <p><del>This line of text is meant to be treated as deleted text.</del></p>
              <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
              <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
              <p><u>This line of text will render as underlined</u></p>
              <p><small>This line of text is meant to be treated as fine print.</small></p>
              <p><strong>This line rendered as bold text.</strong></p>
              <p><em>This line rendered as italicized text.</em></p>
              <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr></p>
  
              <hr class="my-1" />
  
              <ul>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>
                      Nulla volutpat aliquam velit
                      <ul>
                          <li>Phasellus iaculis neque</li>
                          <li>Purus sodales ultricies</li>
                      </ul>
                  </li>
                  <li>Faucibus porta lacus fringilla vel</li>
                  <li>Aenean sit amet erat nunc</li>
              </ul>
  
              <hr class="my-1" />
  
              <dl class="row">
                  <dt class="col-sm-3">Description lists</dt>
                  <dd class="col-sm-9">A description list is perfect for defining terms.</dd>
  
                  <dt class="col-sm-3">Euismod</dt>
                  <dd class="col-sm-9">
                      <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                      <p>Donec id elit non mi porta gravida at eget metus.</p>
                  </dd>
  
                  <dt class="col-sm-3">Malesuada porta</dt>
                  <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>
  
                  <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                  <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
  
                  <dt class="col-sm-3">Nesting</dt>
                  <dd class="col-sm-9">
                      <dl class="row">
                          <dt class="col-sm-4">Nested definition list</dt>
                          <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
                      </dl>
                  </dd>
              </dl>
  
          </div>
  
      </section>
  
  </div>