<div class="container" padded>
  <app-card>
    <app-card-header>
      <app-card-title>Progress bars</app-card-title>
    </app-card-header>
    <app-card-body paddedX paddedBottom>
      <h6>Determinate progress bar</h6>
      <app-progress-bar [value]="progressValue"></app-progress-bar>
      <br />
      <input type="range" min="0" max="100" step="1" [(ngModel)]="progressValue" /> {{progressValue}}%
      <br />
      <br />
      <br />
      <h6>Indeterminate progress bar</h6>
      <app-progress-bar mode="indeterminate"></app-progress-bar>
    </app-card-body>
  </app-card>
</div>
