
<div class="container p-1">
  
      <section class="card">
          <header class="card-header">
              <h1 class="card-title">Modals</h1>
          </header>
  
          <div class="card-body p-1">
  
              <button appButton data-toggle="modal" data-target="#modal-demo">
                  Open modal
              </button>
  
          </div>
      </section>
  
  </div>
  
  
  
  <div class="modal fade" id="modal-demo" tabindex="-1" role="dialog" aria-labelledby="modal-demo-title" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title" id="modal-demo-title">The War of 1812</h1>
              </div>
              <div class="modal-body">
                  <p>The War of 1812 (1812–1815) was a conflict fought between the United States, the United Kingdom and their respective allies. Historians in Britain often see it as a minor theater of the Napoleonic Wars; in the United States and Canada, it is seen as a war in its own right.</p>
              </div>
              <nav class="modal-footer">
                  <button appButton data-dismiss="modal">Ok</button>
              </nav>
          </div>
      </div>
  </div>
  
  
  <!-- <script>
      require(['jquery', 'modals']);
  </script> -->