<div class="container p-1">
  
      <section class="card">
          <header class="card-header">
              <h1 class="card-title">Toolbars</h1>
          </header>
  
          <div class="card-body">
  
              <div class="toolbar">
                  <div class="toolbar-row">
                      <ul>
                          <li>
                              <a href="javascript:;"><i class="icon material-icons">print</i></a>
                          </li>
                          <li>
                              <button type="button"><i class="icon material-icons">undo</i></button>
                          </li>
                          <li>
                              <button type="button"><i class="icon material-icons">redo</i></button>
                          </li>
                      </ul>
  
                      <ul>
                          <li>
                              <a href="javascript:;" data-toggle="tooltip" title="Download" data-placement="bottom"><i class="icon material-icons">file_download</i></a>
                          </li>
                      </ul>
  
                      <ul>
                          <li>
                              <a href="javascript:;"><i class="icon material-icons">print</i></a>
                          </li>
                          <li>
                              <button type="button"><i class="icon material-icons">undo</i></button>
                          </li>
                          <li>
                              <button type="button"><i class="icon material-icons">redo</i></button>
                          </li>
                      </ul>
                  </div>
                  <div class="toolbar-row">
                      <ul>
                          <li>
                              <button type="button"><i class="icon material-icons">undo</i></button>
                          </li>
                          <li>
                              <button type="button"><i class="icon material-icons">redo</i></button>
                          </li>
                      </ul>
  
                      <ul>
                          <li>
                              <a href="javascript:;"><i class="icon material-icons">file_download</i></a>
                          </li>
                      </ul>
  
                      <ul>
                          <li>
                              <a href="javascript:;"><i class="icon material-icons">print</i></a>
                          </li>
                          <li>
                              <button type="button"><i class="icon material-icons">undo</i></button>
                          </li>
                          <li>
                              <button type="button"><i class="icon material-icons">redo</i></button>
                          </li>
                      </ul>
                  </div>
              </div>
  
              
              <div class="m-1">
                  <div class="toolbar toolbar-detached">
                      <div class="toolbar-row">
                          <ul>
                              <li>
                                  <a href="javascript:;"><i class="icon material-icons">print</i></a>
                              </li>
                              <li>
                                  <button type="button"><i class="icon material-icons">undo</i></button>
                              </li>
                              <li>
                                  <button type="button"><i class="icon material-icons">redo</i></button>
                              </li>
                          </ul>
  
                          <ul>
                              <li>
                                  <a href="javascript:;"><i class="icon material-icons">file_download</i></a>
                              </li>
                          </ul>
  
                          <ul>
                              <li>
                                  <a href="javascript:;"><i class="icon material-icons">print</i></a>
                              </li>
                              <li>
                                  <button type="button"><i class="icon material-icons">undo</i></button>
                              </li>
                              <li>
                                  <button type="button"><i class="icon material-icons">redo</i></button>
                              </li>
                          </ul>
                      </div>
                      <div class="toolbar-row">
                          <ul>
                              <li>
                                  <button type="button"><i class="icon material-icons">undo</i></button>
                              </li>
                              <li>
                                  <button type="button"><i class="icon material-icons">redo</i></button>
                              </li>
                          </ul>
  
                          <ul>
                              <li>
                                  <a href="javascript:;"><i class="icon material-icons">file_download</i></a>
                              </li>
                          </ul>
  
                          <ul>
                              <li>
                                  <a href="javascript:;"><i class="icon material-icons">print</i></a>
                              </li>
                              <li>
                                  <button type="button"><i class="icon material-icons">undo</i></button>
                              </li>
                              <li>
                                  <button type="button"><i class="icon material-icons">redo</i></button>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
  
  
          </div>
      </section>
  
  </div>