<div class="container" padded>
  <app-card>
    <app-card-header>
      <app-card-title>Toolbars</app-card-title>
    </app-card-header>
    <app-card-body>
      <div class="toolbar">
        <div class="toolbar-row">
          <ul>
            <li>
              <a href="javascript:;" appTooltip="Print">
                <i appIcon="print"></i>
              </a>
            </li>
            <li>
              <button appTooltip="Undo">
                <i appIcon="undo"></i>
              </button>
            </li>
            <li>
              <button appTooltip="Redo">
                <i appIcon="redo"></i>
              </button>
            </li>
          </ul>
          <ul>
            <li>
              <button appTooltip="Download">
                <i appIcon="file_download"></i>
              </button>
            </li>
          </ul>
          <ul>
            <li>
              <button appTooltip="Print">
                <i appIcon="print"></i>
              </button>
            </li>
            <li>
              <button appTooltip="Undo">
                <i appIcon="undo"></i>
              </button>
            </li>
            <li>
              <button appTooltip="Redo">
                <i appIcon="redo"></i>
              </button>
            </li>
          </ul>
        </div>
        <div class="toolbar-row">
          <ul>
            <li>
              <button appTooltip="Print">
                <i appIcon="print"></i>
              </button>
            </li>
            <li>
              <button appTooltip="Undo">
                <i appIcon="undo"></i>
              </button>
            </li>
          </ul>
          <ul>
            <li>
              <a href="javascript:;">
                <i class="icon material-icons">file_download</i>
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="javascript:;">
                <i class="icon material-icons">print</i>
              </a>
            </li>
            <li>
              <button type="button">
                <i class="icon material-icons">undo</i>
              </button>
            </li>
            <li>
              <button type="button">
                <i class="icon material-icons">redo</i>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div padded>
        <div class="toolbar toolbar-detached">
          <div class="toolbar-row">
            <ul>
              <li>
                <a href="javascript:;">
                  <i class="icon material-icons">print</i>
                </a>
              </li>
              <li>
                <button type="button">
                  <i class="icon material-icons">undo</i>
                </button>
              </li>
              <li>
                <button type="button">
                  <i class="icon material-icons">redo</i>
                </button>
              </li>
            </ul>
            <ul>
              <li>
                <a href="javascript:;">
                  <i class="icon material-icons">file_download</i>
                </a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="javascript:;">
                  <i class="icon material-icons">print</i>
                </a>
              </li>
              <li>
                <button type="button">
                  <i class="icon material-icons">undo</i>
                </button>
              </li>
              <li>
                <button type="button">
                  <i class="icon material-icons">redo</i>
                </button>
              </li>
            </ul>
          </div>
          <div class="toolbar-row">
            <ul>
              <li>
                <button type="button">
                  <i class="icon material-icons">undo</i>
                </button>
              </li>
              <li>
                <button type="button">
                  <i class="icon material-icons">redo</i>
                </button>
              </li>
            </ul>
            <ul>
              <li>
                <a href="javascript:;">
                  <i class="icon material-icons">file_download</i>
                </a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="javascript:;">
                  <i class="icon material-icons">print</i>
                </a>
              </li>
              <li>
                <button type="button">
                  <i class="icon material-icons">undo</i>
                </button>
              </li>
              <li>
                <button type="button">
                  <i class="icon material-icons">redo</i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </app-card-body>
  </app-card>
</div>
