<div class="container" padded>
  <app-card>
    <app-card-header>
      <app-card-title>Input groups</app-card-title>
    </app-card-header>
    <app-card-body paddedX paddedBottom>
      <fieldset>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text" id="addon-text-1">http://</span>
            <input type="text" class="form-control" aria-label="Website URL" aria-describedby="addon-text-1">
            <span class="input-group-text">.com</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-icon" id="addon-icon-1">
              <i appIcon="credit_card"></i>
            </span>
            <input type="text" class="form-control" placeholder="Card number" aria-label="Card number" aria-describedby="addon-icon-1">
            <span class="input-group-icon">
              <i appIcon="help_outline"></i>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <label class="input-group-form" id="addon-icon-2">
              <input type="checkbox" /> </label>
            <input type="text" class="form-control" placeholder="Name (optional)" aria-label="Name" aria-describedby="addon-icon-2">
            <label class="input-group-form">
              <input type="radio" /> </label>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button appButton>Go</button>
            </span>
            <input type="search" class="form-control" placeholder="Search" aria-label="Search">
            <span class="input-group-btn">
              <button appButton>Go</button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button appOutlineButton>Go</button>
            </span>
            <input type="search" class="form-control" placeholder="Search" aria-label="Search">
            <span class="input-group-btn">
              <button appOutlineButton>Go</button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button appLinkButton>Go</button>
            </span>
            <input type="search" class="form-control" placeholder="Search" aria-label="Search">
            <span class="input-group-btn">
              <button appLinkButton>Go</button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn dropdown">
              <button appLinkButton appIconButton [appMenuTriggerFor]="leftMenu">
                <i appIcon="more_vert"></i>
              </button>
              <app-menu #leftMenu="appMenu">
                <button appMenuItem>Settings</button>
                <button appMenuItem>Send feedback</button>
                <button appMenuItem>Help</button>
                <button appMenuItem>Sign out</button>
              </app-menu>
            </span>
            <input type="search" class="form-control" placeholder="Search" aria-label="Search">
            <span class="input-group-btn dropdown">
              <button appLinkButton appIconButton [appMenuTriggerFor]="rightMenu">
                <i appIcon="more_vert"></i>
              </button>
              <app-menu #rightMenu="appMenu">
                <button appMenuItem>
                  <i appIcon="settings"></i>
                  <span>Settings</span>
                </button>
                <button appMenuItem>
                  <i appIcon="feedback"></i>
                  <span>Send feedback</span>
                </button>
                <button appMenuItem>
                  <i appIcon="help"></i>
                  <span>Help</span>
                </button>
                <button appMenuItem>
                  <i appIcon="exit_to_app"></i>
                  <span>Sign out</span>
                </button>
              </app-menu>
            </span>
          </div>
        </div>
      </fieldset>
    </app-card-body>
  </app-card>
</div>
