<div class="container p-1">
  
      <section class="card">
          <header class="card-header">
              <h1 class="card-title">Input groups</h1>
          </header>
  
          <div class="card-body">
  
              <div class="content-container px-1 pb-1">
  
                  <fieldset>
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-text" id="addon-text-1">http://</span>
                              <input type="text" class="form-control" aria-label="Website URL" aria-describedby="addon-text-1">
                              <span class="input-group-text">.com</span>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-icon" id="addon-icon-1"><i app-icon="credit_card"></i></span>
                              <input type="text" class="form-control" placeholder="Card number" aria-label="Card number" aria-describedby="addon-icon-1">
                              <span class="input-group-icon"><i app-icon="help_outline"></i></span>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <label class="input-group-form" id="addon-icon-2"><input type="checkbox" /></label>
                              <input type="text" class="form-control" placeholder="Name (optional)" aria-label="Name" aria-describedby="addon-icon-2">
                              <label class="input-group-form"><input type="radio" /></label>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-btn">
                                  <button app-button>Go</button>
                              </span>
                              <input type="search" class="form-control" placeholder="Search" aria-label="Search">
                              <span class="input-group-btn">
                                  <button app-button>Go</button>
                              </span>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-btn">
                                  <button app-outline-button>Go</button>
                              </span>
                              <input type="search" class="form-control" placeholder="Search" aria-label="Search">
                              <span class="input-group-btn">
                                  <button app-outline-button>Go</button>
                              </span>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-btn">
                                  <button app-link-button>Go</button>
                              </span>
                              <input type="search" class="form-control" placeholder="Search" aria-label="Search">
                              <span class="input-group-btn">
                                  <button app-link-button>Go</button>
                              </span>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-btn dropdown">
                                  <button app-link-button app-icon-button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="icon material-icons">more_vert</i>
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-width-3">
                                      <div class="dropdown-menu-content">
                                          <div class="list">
  
                                              <a href="javascript:;" class="list-item">
                                                  <div class="list-item-object">
                                                        <i app-icon="settings"></i>
                                                  </div>
                                                  <div class="list-item-body">
                                                      <h1>Settings</h1>
                                                  </div>
                                              </a>
  
                                              <a href="javascript:;" class="list-item">
                                                  <div class="list-item-object">
                                                        <i app-icon="feedback"></i>
                                                  </div>
                                                  <div class="list-item-body">
                                                      <h1>Send feedback</h1>
                                                  </div>
                                              </a>
  
                                              <a href="javascript:;" class="list-item">
                                                  <div class="list-item-object">
                                                        <i app-icon="help"></i>
                                                  </div>
                                                  <div class="list-item-body">
                                                      <h1>Help</h1>
                                                  </div>
                                              </a>
  
                                              <div class="list-item-divider list-item-divider-offset"></div>
  
                                              <a href="javascript:;" class="list-item">
                                                  <div class="list-item-object">
                                                        <i app-icon="exit_to_app"></i>
                                                  </div>
                                                  <div class="list-item-body">
                                                      <h1>Sign out</h1>
                                                  </div>
                                              </a>
  
                                          </div>
                                      </div>
                                  </div>
                              </span>
                              <input type="search" class="form-control" placeholder="Search" aria-label="Search">
                              <span class="input-group-btn dropdown">
                                  <button app-link-button app-icon-button class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="icon material-icons">more_vert</i>
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-width-3">
                                      <div class="dropdown-menu-content">
                                          <div class="list">
  
                                                <a href="javascript:;" class="list-item">
                                                        <div class="list-item-object">
                                                              <i app-icon="settings"></i>
                                                        </div>
                                                        <div class="list-item-body">
                                                            <h1>Settings</h1>
                                                        </div>
                                                    </a>
        
                                                    <a href="javascript:;" class="list-item">
                                                        <div class="list-item-object">
                                                              <i app-icon="feedback"></i>
                                                        </div>
                                                        <div class="list-item-body">
                                                            <h1>Send feedback</h1>
                                                        </div>
                                                    </a>
        
                                                    <a href="javascript:;" class="list-item">
                                                        <div class="list-item-object">
                                                              <i app-icon="help"></i>
                                                        </div>
                                                        <div class="list-item-body">
                                                            <h1>Help</h1>
                                                        </div>
                                                    </a>
        
                                                    <div class="list-item-divider list-item-divider-offset"></div>
        
                                                    <a href="javascript:;" class="list-item">
                                                        <div class="list-item-object">
                                                              <i app-icon="exit_to_app"></i>
                                                        </div>
                                                        <div class="list-item-body">
                                                            <h1>Sign out</h1>
                                                        </div>
                                                    </a>
  
                                          </div>
                                      </div>
                                  </div>
                              </span>
                          </div>
                      </div>
                  </fieldset>
              </div>
  
  
          </div>
      </section>
  
  </div>