.dropdown-menu.demo  { display: block !important; position: static !important; }
.dropdown-menu.demo .dropdown-menu-content { transform: scale(1); }
.dropdown-menu.demo + .dropdown-menu.demo { margin-left: 16px; }