<div class="container p-1">
  
      <section class="card">
          <header class="card-header">
              <h1 class="card-title">Dropdowns</h1>
          </header>
  
          <div class="card-body px-1 pb-1">
  
              <div class="dropdown-menu demo">
                  <div class="dropdown-menu-content">
                      <div class="list">
  
                          <a href="javascript:;" class="list-item">
                              <div class="list-item-body">
                                  <h1>Item title</h1>
                              </div>
                          </a>
                          <a href="javascript:;" class="list-item">
                              <div class="list-item-body">
                                  <h1>Item title</h1>
                              </div>
                          </a>
                          <a href="javascript:;" class="list-item disabled">
                              <div class="list-item-body">
                                  <h1>Disabled</h1>
                              </div>
                          </a>
  
                          <div class="list-item-divider"></div>
  
                          <a href="javascript:;" class="list-item">
                              <div class="list-item-body">
                                  <h1>Item title</h1>
                              </div>
                          </a>
  
                      </div>
                  </div>
              </div>
  
              <div class="dropdown-menu demo">
                  <div class="dropdown-menu-content">
                      <div class="list">
  
                          <a href="javascript:;" class="list-item">
                              <div class="list-item-object">
                                  <i class="icon material-icons">settings</i>
                              </div>
                              <div class="list-item-body">
                                  <h1>Settings</h1>
                              </div>
                          </a>
  
                          <a href="javascript:;" class="list-item">
                              <div class="list-item-object">
                                  <i class="icon material-icons">feedback</i>
                              </div>
                              <div class="list-item-body">
                                  <h1>Send feedback</h1>
                              </div>
                          </a>
  
                          <a href="javascript:;" class="list-item">
                              <div class="list-item-object">
                                  <i class="icon material-icons">help</i>
                              </div>
                              <div class="list-item-body">
                                  <h1>Help</h1>
                              </div>
                          </a>
  
                          <div class="list-item-divider list-item-divider-offset"></div>
  
                          <a href="javascript:;" class="list-item">
                              <div class="list-item-object">
                                  <i class="icon material-icons">exit_to_app</i>
                              </div>
                              <div class="list-item-body">
                                  <h1>Sign out</h1>
                              </div>
                          </a>
  
                      </div>
                  </div>
              </div>
          </div>
      </section>
  
      <section class="card">
          <header class="card-header">
              <h1 class="card-title">Dropdown API</h1>
          </header>
  
          <div class="card-body px-1 pb-1">
  
              <div class="row">
                  <div class="col">
                      <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Left Menu
                          </button>
                          <div class="dropdown-menu dropdown-menu-width-3">
                              <div class="dropdown-menu-content">
                                  <div class="list">
  
                                      <a href="javascript:;" class="list-item">
                                          <div class="list-item-object">
                                              <i class="icon material-icons">settings</i>
                                          </div>
                                          <div class="list-item-body">
                                              <h1>Settings</h1>
                                          </div>
                                      </a>
  
                                      <a href="javascript:;" class="list-item">
                                          <div class="list-item-object">
                                              <i class="icon material-icons">feedback</i>
                                          </div>
                                          <div class="list-item-body">
                                              <h1>Send feedback</h1>
                                          </div>
                                      </a>
  
                                      <a href="javascript:;" class="list-item">
                                          <div class="list-item-object">
                                              <i class="icon material-icons">help</i>
                                          </div>
                                          <div class="list-item-body">
                                              <h1>Help</h1>
                                          </div>
                                      </a>
  
                                      <div class="list-item-divider list-item-divider-offset"></div>
  
                                      <a href="javascript:;" class="list-item">
                                          <div class="list-item-object">
                                              <i class="icon material-icons">exit_to_app</i>
                                          </div>
                                          <div class="list-item-body">
                                              <h1>Sign out</h1>
                                          </div>
                                      </a>
  
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
  
                  <div class="col">
                      <div class="dropdown float-right">
                          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Right Menu
                          </button>
                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-width-3">
                              <div class="dropdown-menu-content">
                                  <div class="list">
  
                                      <a href="javascript:;" class="list-item">
                                          <div class="list-item-object">
                                              <i class="icon material-icons">settings</i>
                                          </div>
                                          <div class="list-item-body">
                                              <h1>Settings</h1>
                                          </div>
                                      </a>
  
                                      <a href="javascript:;" class="list-item">
                                          <div class="list-item-object">
                                              <i class="icon material-icons">feedback</i>
                                          </div>
                                          <div class="list-item-body">
                                              <h1>Send feedback</h1>
                                          </div>
                                      </a>
  
                                      <a href="javascript:;" class="list-item">
                                          <div class="list-item-object">
                                              <i class="icon material-icons">help</i>
                                          </div>
                                          <div class="list-item-body">
                                              <h1>Help</h1>
                                          </div>
                                      </a>
  
                                      <div class="list-item-divider list-item-divider-offset"></div>
  
                                      <a href="javascript:;" class="list-item">
                                          <div class="list-item-object">
                                              <i class="icon material-icons">exit_to_app</i>
                                          </div>
                                          <div class="list-item-body">
                                              <h1>Sign out</h1>
                                          </div>
                                      </a>
  
                                  </div>
                              </div>
                          </div>
                      </div>
  
                  </div>
              </div>
  
          </div>
      </section>
  
  </div>
 