<div class="container" padded>

  <div class="alert alert-danger">
    <div class="alert-header">
      <h1 class="alert-title">Alert title with long actions</h1>
    </div>
    <div class="alert-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        wirl aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.</p>
    </div>
    <nav class="alert-footer">
      <button appLinkButton appBlockButton color="danger" class="float-right">Disable push notifications</button>
      <button appLinkButton appBlockButton color="danger" class="float-right">No thanks</button>
    </nav>
  </div>

  <div class="alert alert-danger">
    <div class="alert-header">
      <h1 class="alert-title">Alert title</h1>
    </div>
    <div class="alert-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        wirl aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.</p>
    </div>
    <nav class="alert-footer">
      <button appLinkButton color="danger" class="float-right">Dismiss</button>
      <button appLinkButton color="text">More info</button>
    </nav>
  </div>

  <div class="alert alert-danger">
    <div class="alert-header">
      <h1 class="alert-title">Alert title</h1>
    </div>
    <div class="alert-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        wirl aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.</p>
    </div>
  </div>

  <div class="alert alert-danger">
    <div class="alert-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        wirl aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.</p>
    </div>
    <nav class="alert-footer">
      <button appLinkButton color="danger" class="float-right">Dismiss</button>
    </nav>
  </div>

  <div class="alert alert-danger">
    <div class="alert-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        wirl aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.</p>
    </div>
  </div>

</div>
